<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand abs" href="#">Ancestor Records</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">

        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline" action="/search/searchResults">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit" >Search</button>
            </form>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/persons/addPersons}"  >Add Person<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/logout}"  >Log out<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<ul style="list-style-type:none">

    <li th:each="person : ${persons}">
        <div class="card">
            <h2 th:text="${person.getName()}"></h2>
            <p th:text="${person.getCityOfBirth()}"></p>
            <p th:text="${person.getCountryOfBirth()}"></p>
            <p th:text="${person.getDOB()}"></p>
        </div>
    </li>
</ul>


</body>
</html>