<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand abs" href="#">Ancestor Records</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">

        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline" action="/search/searchResults">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit" >Search</button>
            </form>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/persons/addPersons}"  >Add Person<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/persons/myProfile}"  >My Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/logout}"  >Log out<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid m-0 p-4">

        <ul style="list-style-type:none">
            <div class="card">
                <h1 th:text="${person.getName()}"></h1>
                City: <p th:text="${person.getCityOfBirth()}"></p>
                Country: <p th:text="${person.getCountryOfBirth()}"></p>
                Birthday: <p th:text="${person.getDOB()}"></p>
            </div>
        </ul>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Family Members</th>
            <th scope="col">Relation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="relationEntity :${person.getRelations()}">
            <th th:text="${relationEntity.getRId().getPerson2Name()}"></th>
            <td th:text="${relationEntity.getRelationType()}"></td>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">People Who Call Them Family</th>
            <th scope="col">Their Relation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="relationEntity :${person.getOutRelations()}">
            <th th:text="${relationEntity.getRId().getPerson1Name()}"></th>
            <td th:text="${relationEntity.getRelationType()}"></td>
        </tbody>
    </table>

</div>


</body></html>