<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand abs" href="/">Ancestor Records</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">

        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline" action="/search/searchResults">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit" >Search</button>
            </form>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/persons/addPersons}"  >Add Person<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/persons/myProfile}"  >My Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active text-right" th:href="@{/logout}"  >Log out<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid m-0 p-4">

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="person :${persons}">
            <td  th:text="${person.getFname()}"></td>
            <td th:text="${person.getMname()}"></td>
            <td th:text="${person.getLname()}"></td>
            <div th:switch="${user.isFollowing(person)} ">
                <td>

                    <a class="mb-2 btn btn-success" href="@{/persons/profiles/{id} (id=${person.getId()})}"  style="width: 150px">View Profile</a>
                    <a th:case="'true'" class="mb-2 btn btn-success" th:href="@{/persons/unfollow/{id} (id=${person.getId()})}" style="width: 90px">Following</a>

                    <a th:case="'false'" class="mb-2 btn btn-danger" th:href="@{/persons/follow/{id} (id=${person.getId()})}" style="width: 90px">Follow</a>
                </td>
            </div>
            <div>
                <td th:switch="${user.isRelation(person)}" >
                    <!-- Opens Modal -->
                    <a th:case="'false'" class="mb-2 btn btn-success" href="#" data-toggle="modal" th:data-target="'#family'+${person.getId()}" style="width: 150px">Add To Family</a>

                    <a th:case="'true'" class="mb-2 btn btn-danger" href="@{/persons/unfamily/{id} (id=${person.getId()})}"  style="width: 150px">My Family</a>

                    <!-- "Add To Family" Modal -->
                    <form th:action="@{/persons/family/{id} (id=${person.getId()})}" method="post" th:object="${relation}">
                        <input class="form-control" type="hidden" name="otherPerson" th:value="${person.getId()}">
                        <div class="modal fade" th:id="'family'+${person.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add To Family:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Input Field -->
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-3" for="relationType">Relation : </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="relationType" name="relationType" th:value="${relationType}" style="height: 150px;"></textarea>
                                            <!--<div class="Validation" style="color: red" th:if="${#fields.hasErrors('relationType')}" th:errors="*{relationType}"></div> -->
                                        </div>
                                    </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary form-control" type="submit" style="width: 150px">Add To Family</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

</div>
<script>
    function rowClicked(value) {
        location.href = "/persons/profiles/" + value;
    }
</script>

</body></html>
